RentC/RentC.WebUI/Web References/localhost/AvailableCarsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAvailableCars">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="asc" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableCarsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableCarsResult" type="tns:ArrayOfQueryCar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQueryCar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QueryCar" nillable="true" type="tns:QueryCar" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryCar">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseEntity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Plate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseEntity" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAvailableCarsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableCars" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCarsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableCarsResponse" />
  </wsdl:message>
  <wsdl:portType name="AvailableCarsServiceSoap">
    <wsdl:operation name="GetAvailableCars">
      <wsdl:input message="tns:GetAvailableCarsSoapIn" />
      <wsdl:output message="tns:GetAvailableCarsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AvailableCarsServiceSoap" type="tns:AvailableCarsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableCars">
      <soap:operation soapAction="http://tempuri.org/GetAvailableCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AvailableCarsServiceSoap12" type="tns:AvailableCarsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableCars">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AvailableCarsService">
    <wsdl:port name="AvailableCarsServiceSoap" binding="tns:AvailableCarsServiceSoap">
      <soap:address location="https://localhost:44363/AvailableCarsService.asmx" />
    </wsdl:port>
    <wsdl:port name="AvailableCarsServiceSoap12" binding="tns:AvailableCarsServiceSoap12">
      <soap12:address location="https://localhost:44363/AvailableCarsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>